 
 #header {
    display: flex;
    justify-content: space-between;
  
    width: 80%;
    margin: auto;
    gap: -100px;
    margin-top: 100px;
}

#img {
    display: flex;
    gap: 100px;
}

#left>h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    justify-content: center;
    font-weight: 600;
    line-height: 32px;
    color: rgb(51, 71, 91);

}

#left>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(47, 53, 56);
}

#demo {
    display: flex;
    gap: 20px;
}


#demo>div>p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(70, 93, 239);

}

#imgfst {
    width: 150px;
}

#imgsnd {
    width: 20px;

}

#imgs {
    margin-left: 50%;
    margin-right: 50%;
    width: 20px;

}

#fstbtn>button {
    background-color: rgb(71, 98, 239);
    color: white;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#sndbtn>button {
    background-color: white;
    color: rgb(71, 98, 239);
    border: none;
    width: 120px;
    height: 35px;
    border: 1px solid rgb(71, 98, 239);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#sndbtn>button:hover {
    background-color: rgb(71, 98, 239);
    color: white;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#fstbtn>button:hover {
    background-color: white;
    color: rgb(71, 98, 239);
    border: none;
    width: 120px;
    height: 35px;
    border: 1px solid rgb(71, 98, 239);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#right>img {
    width: 500px;
}

/* ...................................................... */
#slider {

    display: flex;
    justify-content: space-between;

    margin-top: 100px;
    width: 80%;
    margin: auto;

}

#slider>div>img {
    width: 100px;

}

@keyframes slide-show {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);

    }

    100% {
        transform: translateX(-50);
    }
}

#slider {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    animation: slide-show 4s linear infinite;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    /* width: 80%; */

}



#slider>div>img {
    width: 90px;
    /* margin: auto; */

}




/* ........................................................................................ */

#contact{
    margin-bottom: 70px;
}

  #contact > .partnerHead {
    font-family: 'Rajdhani', sans-serif;
       letter-spacing: 2px;
       font-size:34px;
       font-weight: 600;
       text-transform: capitalize;
       text-align: center;  
  }
 
  #contact > .partnerHead{
    margin-top: 100px;
  }
 
  
  #contact>img{
    width: 17%;
  margin-left: 42%;
  }



  
 #contact > .form{
    width: 35%;
    margin: 30px auto 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
  }
  
  #contact > .form > div{
    width: 90%;
    border-radius: 5px;
    border: 1px solid #B9B9B9;
    padding: 10px 10px 10px 5px;
   
  }
  
  #contact > .form > div > input{
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 70%;
 }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
  
  #contact > .form > div > select{
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 100%; 
 }
 
 #contact #countrySelect{
    width: auto;
 }
  
.contactBtn{
   
    width: 15%;
    height: 40px;
    margin:  auto;
    display: flex;
    justify-content: center;
  align-items: center;
  text-align: center;
 }
 
.primaryBtn{
   width: 100%;
   height: 100%;
   border: 0px;
background-color: #465def;
color: white;
font-size: 17px;
font-weight: bold;
border-radius: 5px;

 }
 .primaryBtn:hover{
    background-color: white;
    color: black;
    border: 2px solid #465def;
    border-radius: 5px;
  
 }
  
  
  #message{
  padding-bottom: 100px;
    
  }
   /* ................................................. */
#page2{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 60px;

   
display: grid;
grid-template-columns: 5% 40% 40%;
gap: 30px;
}
#page2_div0{
width: 100%;
height: 100%;
   
}
#page2_div1{
    padding-top: 30%;
}

#page2_div2>img{
    width: 100%;
    height: 100%;
    
}
#page2_div1>h2{
    color: #33475b;
    font-size: 25px;
    font-weight: bold;
}
#page2_div1>p{
    
    font-size: 18px;
    
}

  #page3{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 100px;
   
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 30px;
  }
  #page3>div>div>h2{
  font-size: 22px;
  font-weight: bold;
    text-align: center;
  }
  #page3>div>div>p{
    color: gray;
   
  }
  
  